/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~

*.o

src/Makefile.in
src/Makefile
src/config.*
compile
src/bbfs
src/config.h
src/stamp-h1
src/bbfs.log